@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*if need be, separate this into "definitions.css" */

#uppercase {
  text-transform: capitalize;
}

.dict-meanings {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: thin;
  height: 55vh;
  border: 10px solid rgb(222, 5, 175);
  border-radius: 10px;
  padding: 10px 20px;
  overflow-x: hidden;

}

.dict-subTitle {
  font-size: 5vw;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 900px) {
  .dict-meanings {
      height: 60vh;
      overflow-x: hidden;
      overflow-y: scroll;
  } 
}

.singleMean {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px 0;
}

/*End of defintions.css*/

/*if need be, separate this into "definitions.css" */

.dict-title {
  font-size: 7vw;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.dict-header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 35vh;
  width: 100%;
}

@media (max-width: 900px) {
  .dict-header {
      height: 25vh;
  }
  .dict-title {
      font-size: 11vw;
  }
}

.dict-inputs {
  width: 100%;
  display: flex;
  justify-content: space-around;
}


.dict-search, .dict-select {
  width: 43%;

}

/* End of header.css*/